body {
    margin: 0;
    padding: 0;
    background-color: rgba(182, 231, 243, 1.0);
}

@font-face {
    font-family:coca_cola;
    src: url(../assets/fonts/cola/LOKICOLA.TTF);
}

.main_contents {
    margin-top: 10px;
    margin-bottom: 10px;
}

p{
    font-family: 'Open Sans', sans-serif;
}


#main_3d_image {
    background-image: url(../assets/images/main_3D.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
}

#main_text {
    float: right;
    margin: 5%;
    width: 90%;
    display: block;
    background-color: rgba(255,255,255,0.8);
    padding: 15px;
    border-radius: 5px;
}

#main_text h2 {
    color: red;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
}

#main_text h3 {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#main_text p {
    font-size: 12px;
    margin: 0px;
    line-height: 1.2;
} 

.card {
    border: 1px solid rgba(0,0,0,.125);
    /* border-radius: .25rem;*/
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(182, 231, 243, 1.0);
 }

 .logo {
    margin-top: 3px;
    }
    
    .logo h1 {
    font-family: coca_cola; 
    font-size: 31px;
    margin: 0;
    margin-top: -10px;
    margin-bottom: -15px;
    float: left;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 2px;
    }
    
    .logo h2 {
    font-family: coca_cola;
    font-size: 31px;
    margin-top: -6px;
    margin-bottom: -15px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 3px;
    float: left;
    }
    
    .logo h3 {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: -5px;
    padding-top: 0px;
    padding-left: 0px;
    float: left;
    }
    
    .logo p {
    font-size: 7px;
    margin-top: 22px; 
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 3px;
    }

    .navbar_coca_cola {
        background-color: #760003; 
        border-width: 0px;
        min-height: 70px;
    }
    
    .navbar_coca_cola .navbar-brand {
        color: rgb(245, 235, 235);
     }
        
    .navbar_coca_cola .navbar-brand:hover {
        color: green;
    }
    
    .navbar_coca_cola .navbar-nav > li > a {
        color: white;  
    }
    
    .navbar_coca_cola .navbar-nav > li > a:hover, 
    .navbar_coca_cola .navbar-nav > li > a:focus {
        color: green;  
    }
    
    .navbar_coca_cola .navbar-nav .nav-item {
        margin-top: 0px;
    }
    
    .navbar_coca_cola .navbar-nav .nav-item > .active, 
    .navbar_coca_cola .navbar-nav > .active > a:hover, 
    .navbar_coca_cola .navbar-nav > .active > a:focus {
        color:  #760003; 
        background-color: #3399ff; 
    }
    
    .navbar_coca_cola .navbar-nav > li > a:hover, 
    .navbar_coca_cola  .navbar-nav > li > a:focus {
        color: green;  
    }

    .navbar_coca_cola .navbar-toggler {
        border-color: white;
    }
    
    .navbar_coca_cola  .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        outline: none !important;
    }

    .dropdown-menu {
        text-align: -webkit-left;
        background-color: #b6e7f3;
        margin-top: 20px; 
    }
    
    .dropdown-menu .dropdown-item {
        color: #eb0025;
    }
    
    .dropdown-menu .dropdown-item:hover {
        color: #030303;
        background-color: #e98074;
    }

    .page-footer {
        background-color: cyan;
    }

    @media (max-width: 991px) {
        #main_3d_image {
            height: 300px;
        }
    }
    
    



    


